<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Port" value="9988"/>
    <add key="TaskSchedulerPath" value="\"/>
    <add key="user" value=""/>
    <add key="passwd" value=""/>
  </appSettings>
</configuration>